.dashboardStatisticsSection {
  .dashboardStatisticsMain {
    padding-top: 20px;

    .dashboardStatisticsMainCard {
      height: 500px;

      .statisticsMainTitle {
        font-size: 106px;
        letter-spacing: 0.996px;
        color: #3F51B5;
        font-family: 'Roboto-Regular', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}


.tableStatisticsRow {
  .table {
    background-color: #FFFFFF;
    border: 1.5px solid #BBBBBB;
    text-align: center;

    .sub{
      width: 52px;
      .subText{
        font-family: 'Roboto-Light';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        color: #BBBBBB;
      }
    }
    .sub2{
      width: 60px;
    }
    .tableStatisticsTd1, .tableStatisticsTd2,
    .tableStatisticsTd3, .tableStatisticsTd4,
    .tableStatisticsTd5 {
      font-family: 'Roboto-Light',sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      color: #000000;
    }

    .tableStatisticsTr1 {
      width: 60px;
      border-right: 1.5px solid #BBBBBB;
      padding: 18px 3px;
    }

    .tableStatisticsTd1 {
      width: 60px;
      border-right: 1.5px solid #BBBBBB;
      padding: 18px 3px;
    }

    .tableStatisticsTr2 {
      width: 120px;
      border-right: 1.5px solid #BBBBBB;
      padding: 18px 3px;
    }

    .tableStatisticsTd2 {
      .tableStatisticsTd2Sub {
        width: 100%;
        border-right: 1.5px solid #BBBBBB;
        padding: 18px 3px;
      }
    }

    .tableStatisticsTr3 {
      width: 180px;
      border-right: 1.5px solid #BBBBBB;
      padding: 18px 3px;
    }

    .tableStatisticsTd3 {
      .tableStatisticsTd3Sub {
        width: 100%;
        border-right: 1.5px solid #BBBBBB;
        padding: 18px 3px;
      }
    }

    .tableStatisticsTr4 {
      width: 600px;
      border-right: 1.5px solid #BBBBBB;
      padding: 18px 3px;
    }

    .tableStatisticsTd4 {
      .tableStatisticsTd4Sub {
        width: 100%;
        border-right: 1.5px solid #BBBBBB;
        padding: 18px 3px;
      }
    }

    .tableStatisticsTr5 {
      width: 277.5px;
      border-right: 1.5px solid #BBBBBB;
      padding: 18px 3px;
    }

    .tableStatisticsTd5 {
      .tableStatisticsTd5Sub {
        width: 100%;
        border-right: 1.5px solid #BBBBBB;
        padding: 18px 3px;
      }
    }
  }

  .table td, .table th {
    padding: 0rem;
  }
}


@media (min-width: 1500px) {

}

@media (max-width: 1500px) and (min-width: 1200px) {

}

@media (max-width: 1200px) and (min-width: 992px) {
  .dashboardStatisticsSection {
    .dashboardStatisticsMain {
      .dashboardStatisticsMainCard {
        .statisticsMainTitle {
          font-size: 66px;
        }
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 765px) {
  .dashboardStatisticsSection {
    .dashboardStatisticsMain {
      .dashboardStatisticsMainCard {
        .statisticsMainTitle {
          font-size: 86px;
        }
      }
    }
  }
}

@media (max-width: 765px) and (min-width: 576px) {
  .dashboardStatisticsSection {
    .dashboardStatisticsMain {
      .dashboardStatisticsMainCard {
        .statisticsMainTitle {
          font-size: 54px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) and (min-width: 320px) {
  .dashboardStatisticsSection {
    .dashboardStatisticsMain {
      .dashboardStatisticsMainCard {
        .statisticsMainTitle {
          font-size: 30px;
        }
      }
    }
  }
}